.nav-container {
  background-color: #f1f5f9;
  padding: 20px;
  min-height: 10vh;
  width: 100%;
}

.logo {
  width: 110px;
}

.course-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.course-details-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.course-image {
  width: 30%;
  margin-right: 20px;
}
.heading {
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: 600;
}

.description {
  color: #64748b;
  font-size: 21px;
  font-family: 'Roboto';
  font-weight: 500;
}
